src/main/resources/translations/translations.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="translations">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="translation" type="translation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="translation">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>